*.swp
git/.config/git/cookies
git/.config/git/local
gtk/.config/gtk-3.0/bookmarks
i3/.config/i3/config
i3/.config/i3blocks/config
vim/.vim/.netrwhist
vim/.vim/autoload/plug.vim.old
vim/.vim/black/
vim/.vim/plugged
vim/.vim/spell
