[Unit]
Description=OfflineIMAP Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -c %h/.config/offlineimap/config -l %h/logs/offlineimap.log

[Install]
WantedBy=default.target
