[Unit]
Description=OfflineIMAP Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/offlineimap -c $HOME/.config/offlineimap/config -l $HOME/logs/offlineimap.log

[Install]
WantedBy=default.target
