* {
  font-family: "Ubuntu Sans";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  border: none;
  box-shadow: none;
}

#workspaces, #window, #system-info {
/*  background: linear-gradient(180deg, #505050, #5F5F5F); */
  padding: 3px;
  margin: 0px;
  border-radius: 10px;
  border-width: 0px;
}

#window {
  background: transparent;
}

#workspaces button.active {
  background-color: #61afef;
  color: #ffffff;
}

/* Inactive workspace buttons */
#workspaces button {
  background-color: #444;
  margin: 0px 3px;
}

#workspaces button:hover,
#window:hover {
  background-color: #FFF;
}

#system-info #clock,
#system-info #pulseaudio,
#system-info #network,
#system-info #load,
#system-info #temperature,
#system-info #tray {
  background: linear-gradient(180deg, #4F4F4F, #404040);
  padding: 3px;
  border-radius: 10px;
  border-width: 3px;
  padding: 0px 10px;
  margin: 3px 3px;
}

#system-info #temperature.critical {
  background: linear-gradient(180deg, #e06c75, #be5046);
  color: #ffffff;
}

