* {
  font-family: "Ubuntu Sans";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  border: none;
  box-shadow: none;
}

#workspaces, #window, #system-info {
  background: linear-gradient(180deg, #505050, #5F5F5F);
  padding: 3px;
  margin: 0px;
  border-radius: 12px;
  border-width: 0px;
}

#window {
  background: transparent;
}

/* For every element inside a block */
#workspaces button,
#system-info .module {
  background: linear-gradient(180deg, #4F4F4F, #404040);
  margin: 0px 3px;
  padding: 5px 10px;
  border-radius: 12px;
  border-width: 0px;
}

#window {
  padding: 5px 20px;
}

#workspaces button:hover,
#window:hover,
#system-info .module:hover {
  background: gray;
}

#workspaces button.active {
  background: #61AFEF;
  color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.urgent,
#system-info #temperature.critical {
  background: #E06C75;
  background: linear-gradient(180deg, #E06C75, #BE5046);
  color: white;
}

#workspaces button.urgent:hover {
  background: #BE5046;
  color: white;
}

  /* Horizontal, vertical, blur, spread, color */
  /* box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5); */
